@use "../utilities" as *;

.theme  {
    position: relative;
    justify-self: end;
    display: flex;
    align-items: center;
    gap: toRem(16);

    @include respond-to(small) {
        gap: toRem(12);
        justify-self: center;
    }

    @include respond-to(extra-small) {
        grid-columns: 2 / 3;
        grid-row: 1 / 2;
    }

    &__icon {
        height: 28px;
        width: 28px;
        fill: var(--clr-neutral-200);

        @include respond-to(small) {
            height: 22px;
            width: 22px;
        }
    }
}