// Colors

$colors: (
    primary-light: (
        100: #ecfdf5,
        200: #d1fae5,
        300: #a7f3d0,
        400: #34d399,
        500: #10b981,
        600: #065f46
    ),
    primary-dark: (
        100: #f5f3ff,
        200: #f3e8ff,
        300: #c084fc,
        400: #a855f7,
        500: #7e22ce,
        600: #3b0764
    ),
    neutral: (
        100: #fafaf9,
        200: #f5f5f5,
        300: #e5e5e5,
        400: #737373,
        500: #262626,
        600: #0a0a0a
    )
);