// Colors

$colors: (
    color-blue: ( 
        100: rgb(236, 254, 255),
        200: rgba(17, 163, 187),
        300: rgb(6, 154, 178),
        400: rgb(6, 144, 167),
        500: rgb(6, 136, 157),
        600: rgb(6, 124, 142)
    ),
    color-blue-dark: (  
        100: rgb(230, 242, 244),
        200: rgba(79, 165, 180, .75),
        300: rgb(24, 125, 144),
        400: rgb(3, 110, 125),
        500: rgb(3, 96, 109),
        600: rgb(3, 89, 99)
    ),
    color-rose: ( 
        100: rgb(255,241,242),
        200: rgba(251, 91, 117),
        300: rgb(251, 75, 101),
        400: rgb(251, 45, 77),
        500: rgb(180, 4, 29),
        600: rgb(159, 4, 25)
    ),
    color-rose-dark: (  
        100: rgb(254, 236, 239),
        200: rgba(246, 91, 118, .75),
        300: rgb(217, 43, 73),
        400: rgb(187, 48, 71),
        500: rgb(171, 44, 66),
        600: rgb(146, 38, 56)
    ), 
    neutral: (
        100: rgb(255,255,255),
        200: rgb(250,250,250),
        300: rgb(235,235,235),
        400: rgb(210,210,210),
        500: rgb(115,115,115),
        600: rgb(38,38,38),
        700: rgb(10,10,10),
        705: rgba(10,10,10, 0.5)
    )
);